.addCard:hover {
  background-color: white;
}
.addCard {
  border: none;
  margin-top: 17px;
  color: #5e6c84;
  cursor: pointer;
  font-size: 18px;
  width: auto;
  align-items: center;
  padding: 5px;
  font-family: "Roboto";
  border-radius: 8px;
}
.addCard:disabled:hover {
  background-color: #ebecf0;
}
.addCard:disabled{
  cursor: default;
}
.addCard.submit {
  background-color: #0079bf;
  color: white;
  padding: 5px 20px;
  margin: 0;
}
.select{
  width: 95%;
  height: 35px;
  size: 3;
  border: none;
  white-space: normal;
  line-height: normal;
}
.option {
  width: 50px;
}
.input {
  border: none;
  border-bottom: 1px solid black;
  width: 234px;
}
.input:focus {
  outline: none;
  border: none;
  width: 234px;
  font-size: 18px;
  font-family: "Roboto";
}
.addCardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.card {
  border-radius: 8px;
  margin: 17px 0; 
  height: auto;
  width: 90%;
  background-color: white;
  align-content: center;
  padding: 8px;
}
.text {
  font-size: 18px;
  font-family: "Roboto";
}
.wrapper {
  /* width: auto; */
  background-color: #0067a3;
  height: 55px;
  padding: 18px;
  margin: 0;
  display: grid;
}
.wrapper.footer {
  color: white;
  align-content: center;
  grid-template-columns: 1fr 6fr 2.5fr;
}
.wrapper.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.logo {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7px;
}
.headerTitle {
  color: white;
  font-size: 28px;
  font-family: "Roboto";
}
.footerStatic {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
.block {
  width: 90%;
  background-color: #ebecf0;
  padding: 12px;
  border-radius: 8px;
  max-height: 75vh;
}
.blockData {
  background-color: #ebecf0;
  max-height: 65vh;
  overflow-y: auto;
  
}
.blockTitle {
  color: #000000;
  font-size: 18px;
  font-family: "Roboto";
}


ul li{
  display: inline-block;
    position: relative;
    margin: 1em
}
@media only screen and (max-width: 1231px) {
  .footerStatic {
    display: none;
  }
}
@media only screen and (max-width: 625px) {
  .headerTitle{
    color: #0079bf;
    background-color: #0079bf;
  }
  
}

@media only screen and (max-width: 625px) {
  .wrapper {
    background-color: #0079bf;
  }
}
@media only screen and (max-width: 500px) {
  .block {
    width: 90%;
    background-color: #ebecf0;
    padding: 12px;
    max-height: 80vh;
    overflow-y: scroll;
    border-radius: 8px;
  }
}
.container{
  display: grid;
  grid-template-columns: 50px 20px;
}

.menu-trigger {
  background-color: transparent;
  border-radius: 90px;
  cursor: pointer;
  align-items: center;
  padding: 4px 6px;
  border: none;
  /* vertical-align: middle; */
  /* transition: box-shadow 0.4s ease; */
  /* margin-left: auto; Strictly for positioning   */
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 70px;
  right: 30px;
  width: 150px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  /* transform: translateY(-20px); */
  /* transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s; */
}

.menu.active {
  opacity: 1;
  visibility: visible;
  /* transform: translateY(0); */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.menu li a {
  text-decoration: none;
  color: #333333;
  display: block;
}
menu:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 10px;
  border-bottom-color: #2B1A41;
  z-index: 0;
}
.menu:before {
  content: "";
  position: absolute;
  border-color: rgba(194, 225, 245, 0);
  border: solid transparent;
  border-bottom-color: white;
  border-width: 11px;
  margin-left: -10px;
  top: -21px;
  right: 27px;
  z-index: 1;
}   
