html,
.App {
  background-color: #0079bf;
  margin: 0;
  padding: 0;
  bottom: 0;
}

.Container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: auto;
  gap: 24px;
  background-color: #0079bf;
  width: 94%;

  height: 80%;
}
@media only screen and (max-width: 500px) {
  .Container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 24px;
    background-color: #0079bf;
    width: 94%;

    height: 80%;
  }
}
